name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  php-lint:
    name: PHP Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - '8.2'
          - '8.3'
          - '8.4'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2

      - name: PHP Lint
        run: find Classes Tests -name '*.php' -exec php -l {} \;

  coding-standards:
    name: Coding Standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer:v2, php-cs-fixer

      - name: Check coding standards
        run: php-cs-fixer fix --config=Build/php-cs-fixer/.php-cs-fixer.php --dry-run --diff

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    strategy:
      matrix:
        typo3-version:
          - '^12.4'
          - '^13.4'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer:v2

      - name: Install dependencies
        run: |
          composer require typo3/cms-core:${{ matrix.typo3-version }} typo3/cms-install:${{ matrix.typo3-version }} --no-progress --no-interaction
          composer require --dev phpstan/phpstan --no-progress --no-interaction

      - name: Run PHPStan
        run: .Build/bin/phpstan analyse -c Build/phpstan/phpstan.neon

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        typo3-version:
          - '^12.4'
          - '^13.4'
        php-version:
          - '8.2'
          - '8.3'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        run: |
          composer require typo3/cms-core:${{ matrix.typo3-version }} typo3/cms-install:${{ matrix.typo3-version }} --no-progress --no-interaction

      - name: Run unit tests
        run: .Build/bin/phpunit -c phpunit.xml --testsuite "Unit Tests"
